# This is Git's per-user configuration file.
[user]
	name = LeSaR
	email = ilkov2006@gmail.com
[init]
	defaultbranch = main
[pull]
	rebase = true
[alias]
	forgot = commit --amend --no-edit
        amend = commit --amend
	st = status
	co = checkout
	cm = commit -m
	aa = add -A
	l = log --oneline
[advice]
	detachedHead = false
